@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    grid-gap: 1.5rem;
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding: 5rem;
    

     
}
html:-webkit-scrollbar-track{
    background: #fff;
}
html:-webkit-scrollbar{
    width: 1rem;
}
html :-webkit-scrollbar-thumb{
    background: #000;
}

section{
    padding: 5rem 9%;
}
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
  
    
}

.logo1{
   margin-right: auto;
    font-size: 2.5rem;
    color: #000000;
    font-weight: bolder;

}

.header{
  list-style-type: none;
  margin: 0;
  padding: 1%;
  
  background-color: #f8f3f386;
    
}

.navbar a{
    
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #000000;
    font-weight:500;
  
    
}

.navbar a:hover{
    
   
    color: #187e41;
 
}

.navbar  #nav-close{
    font-size: 4rem;
    cursor: pointer;
    color: #c32a2a;
    display: none;
}  




.icons a,
.icons div{
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #000;
}
.icons a:hover,
.icons div:hover{
    
    color: #097e11;
}

#menu-btn{
    display: none;
}





/* media */
@media (max-width:1200px){
    .header{
        padding: 2rem;
    }
   
   section{
    padding: 3rem 2rem;
   }
   
}
@media (max-width:990px){
    html{
        font-size: 60%;
    }
    .home .box{
      justify-content: center;
      background-position: right;

     
    }

    .home .box-second{
      justify-content: center;
      background-position: left;
    }
 
    
    
   
}
@media (max-width:750px){
  
  

    #menu-btn{
        display: inline-block;
    }
   .navbar{
    position: fixed;
    top: 0;left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
   
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
       
   
   }

   .navbar:active{
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
   }
   .navbar #nav-close{
         display: block;
         position: absolute;
         top: 1rem;
         right: 1rem;
   }
   .navbar a{
    /* margin: 12rem 12rem ;
    font-size:2.5rem; */
    /* flex-flow: column;
    line-height:3; */
    margin: 1rem 0;
    font-size: 2.5rem; 


    
    

} 

}
/* @media (max-width:500px){
  .content-about h3{
  
    font-size: 2rem;
  
  }
} */



/* side nav */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111d4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* dropdown */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 
  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
    top: 50px;
    right: 7%;
  }

.home{
    padding: 0;

 
}
.home .box{
    min-height: 100vh;
    display:flex;
    align-items: center;
    background-size:cover !important;
    /* background-size:100% !important; */
    background-position: center !important;
    justify-content: flex-start;
    padding: 1rem ;
  }
 
  .home .box-second{
    min-height: 100vh;
    display:flex;
    align-items: center;
    background-size:cover !important;
    /* background-size: 100% !important; */
    background-position: center !important;
    justify-content: flex-end;
    padding: 1rem ;
  }

 .box{

  
  
  .content span{
    
    font-size: 4rem;
    color: #bd2323;
    margin-top: 70%;
    margin-left: 10%; 
  }
  .content h3{
    
    font-size: 6rem;
    color: #147d37; 
    /* padding-top: 20rem; */
    text-decoration: uppercase;  
    margin-top: 80%;
    text-align: left;
  }
  .content {
    
    width: 40rem; 
  }
  .content p{
    line-height: 2;
    color: #000000;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align:justify;
  }
  .btn{
    margin-top: 1rem;
    display: inline-block;
    border:solid;
    color: #000;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
  }
  .btn:hover{
    background: #000000;
    color: #f8f4f4;
  }
}

.box-second{

  
  
  .content span{
    
    font-size: 4rem;
    color: #bd2323;
    margin-top: 70%;
    margin-left: 10%; 
  }
  .content h3{
    
    font-size: 5rem;
    color: #147d37; 
    /* padding-top: 20rem; */
    text-decoration: uppercase;  
    margin-top: 100%;
    text-align: right;
  }
 
  .content {
    
    width: 40rem; 
  }
  .content p{
    line-height: 2;
    color: #000000;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align:justify;
  }
  .btn{
    margin-top: 0.1rem;
    display: inline-block;
    border:solid;
    color: #000;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    
  }
  .btn:hover{
    background: #000000;
    color: #f8f4f4;
  }
}

/* aboutus */
.about{
  background: #d9cfcf;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
 
  
  
}
.about .about-image{
  flex: 2 3 42rem;

}
.about{
.image img{
  width: 50%;
}

.about-image img{
  padding-top: 3%;
  padding-left: 25%;
  width:75%;
  height: auto;
  background-position: center;

  
  
}
.about-image img:hover {
  transform: scale(1.05, 1.05);
}


}
.content-about{
  flex: 1 1 42rem;
  
  
}

.content-about h3{
  
    font-size: 3rem;
    color: #0a100a;
    position:relative;
    /* left: 80%;
    top:50%; */
    text-align: center;
    
  
}
.content-about p{
  font-size: 1.5rem;
  color: #000000;
  padding: 1rem 0;
  line-height: 2;
}


.shop .slide{
  width: 40%;
  /* border: solid; */
}


.shop-image{
 position: relative;
 overflow: hidden;
 height: auto;
 width: 35rem;


 
}

.shop-image img{
  
    height: 70%;
    width:70%;
    object-fit:cover;
   
}
.shop-image img:hover{
  transform: scale(1.05,1.05);
  
}
.shop-content{
 padding: 0.7rem 0;
 text-align: center;

 .h3{
  font-size: 2rem;
  color:black;
 }
 .h3{
  font-size: 2rem;
  color:black;
 }
 .price{
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #000000;
 }
 

}

.shop-icons{
  width: 100%;
  position: absolute;
  bottom: 2rem;left:0;
  text-align: center;
  z-index: 10;
  transform: translateY(7rem);
 }
 .shop-icons a{
  height: 3.5rem;
  width: 3.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #000;
  color: #ffffff;
 }
 .shop-icons a:hover{
  background: #097e11;
 }
 .slide:hover .shop-image .shop-icons{
  transform: translateY(0);
 }