@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    grid-gap: 1.5rem;
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding: 5rem;
    

 /* &::-webkit-scrollbar
     {
     width: 1rem;
    } */
 /* &::-webkit-scrollbar-track
     {
        background: #fff;
      } */

 /* &::-webkit-scrollbar-thumb
      {
        background: #000;
      } */
     
}
html:-webkit-scrollbar-track{
    background: #fff;
}
html:-webkit-scrollbar{
    width: 1rem;
}
html :-webkit-scrollbar-thumb{
    background: #000;
}

section{
    padding: 5rem 9%;
}
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
  
    
}

.logo1{
   margin-right: auto;
    font-size: 2.5rem;
    color: #000000;
    font-weight: bolder;

}

.header{
  list-style-type: none;
  margin: 0;
  padding: 1%;
  
  background-color: #f8f3f386;
    
}

.navbar a{
    
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #000000;
    font-weight:500;
  
    
}

.navbar a:hover{
    
   
    color: #187e41;
 
}

.navbar  #nav-close{
    font-size: 4rem;
    cursor: pointer;
    color: #c32a2a;
    display: none;
}  




.icons a,
.icons div{
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #000;
}
.icons a:hover,
.icons div:hover{
    
    color: #097e11;
}

#menu-btn{
    display: none;
}





/* media */
@media (max-width:1200px){
    .header{
        padding: 2rem;
    }
   
   section{
    padding: 3rem 2rem;
   }
   
}
@media (max-width:990px){
    html{
        font-size: 60%;
    }
}
@media (max-width:750px){
   
    #menu-btn{
        display: inline-block;
    }
   .navbar{
    position: fixed;
    top: 0;left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
   
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
       
   
   }

   .navbar:active{
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
   }
   .navbar #nav-close{
         display: block;
         position: absolute;
         top: 1rem;
         right: 1rem;
   }
   .navbar a{
    /* margin: 12rem 12rem ;
    font-size:2.5rem; */
    /* flex-flow: column;
    line-height:3; */
    margin: 1rem 0;
    font-size: 2.5rem; 
    

} 

}
/* @media (max-width:450px){
    html{
        font-size: 50%;
    }
} */



/* side nav */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111d4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /* dropdown */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 
  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
    top: 50px;
    right: 7%;
  }

.home{
    padding: 0;

 
}
.home .box{
    min-height: 100vh;
    display:flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
  }
 